body{
    margin: 0;
    padding: 0;
    background-color: black;
}

@font-face {
    font-family: JBM;
    src: url(./assets/font/JetBrainsMono-Medium.woff2);
}

p{
    color: white;
    font-family: 'JBM', Courier, monospace;
    padding: 0;
    margin: 5px 0;
}

#ui{
    margin: 20px 20px;
}